*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php
wordpress/twentyfifteen/
wordpress/twentyfourteen/
wordpress/wp-db-backup/
forums/images/avatars/upload/
forums/config.php
wordpress/wp-content/plugins/jetpack/
wordpress/wp-content/plugins/twitter-tools/
wordpress/wp-content/plugins/wp-db-backup/
wordpress/wp-content/plugins/wp-pro-quiz/
wordpress/wp-content/plugins/wp-config.php
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/stats/
wordpress/wp-content/plugins/wp-super-cache/
wordpress/wp-content/plugins/twitter-facebook-google-plusone-share/
wordpress/wp-content/themes/carrington-mobile-1.0.1/
wordpress/wp-content/themes/carrington-mobile-1.0.2/
wordpress/wp-content/plugins/tantan-spam/
wordpress/wp-content/plugins/quickstats/
wordpress/wp-content/themes/twentyfifteen/
wordpress/wp-content/themes/twentyfourteen/
wordpress/wp-content/themes/twentythirteen/
forums/store/
forums/install/
wordpress/wordpress/wp-content/uploads/
wordpress/wp-content/backup-eda14/
wordpress/wp-content/backup-e1308/
forums/includes/mtg/config.php
wordpress/wp-content/plugins/wp-mtg-helper/config.php
*.meta
www/wordpress/wp-content/uploads/*
