*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php
wordpress/twentyfifteen/
wordpress/twentyfourteen/
wordpress/wp-db-backup/
wordpress/twitter-tools/
wordpress/jetpack/
forums/images/avatars/upload/
forums/config.php