<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->

<link rel="stylesheet" href="{T_STYLESHEET_LINK}" type="text/css" />


<!-- GoodGamery Specific Scripts -->

<link rel="stylesheet" href="./includes/mtg/css/mtgh.css" type="text/css" />

<script type='text/javascript' src='http://forums.goodgamery.com/includes/java/jquery/jquery.js'></script>
<script type='text/javascript' src="http://forums.goodgamery.com/includes/java/gg/cardTags.js"></script>
<script type='text/javascript' src='http://forums.goodgamery.com/includes/java/mtgh.js'></script>
<script type='text/javascript' src='http://forums.goodgamery.com/includes/java/jquery.dimensions.min.js'></script>
<script type='text/javascript' src="http://forums.goodgamery.com/includes/java/gg/image_resizer.js"></script>
<script type='text/javascript' src="http://forums.goodgamery.com/includes/java/gg/decoder.js"></script>
<script type='text/javascript' src="http://forums.goodgamery.com/includes/java/gg/linker.js"></script>

<link rel="icon" type="image/png" href="http://goodgamery.com/favicon.png"/>



<!-- Regular template stuff -->

<script type="text/javascript">
// <![CDATA[
<!-- IF S_USER_PM_POPUP -->
	if ({S_NEW_PM})
	{
		popup('{UA_POPUP_PM}', 400, 225, '_phpbbprivmsg');
	}
<!-- ENDIF -->

function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes,width=' + width);
	return false;
}

function jumpto()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';

	if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
	{
		if (base_url.indexOf('?') == -1)
		{
			document.location.href = base_url + '?start=' + ((page - 1) * per_page);
		}
		else
		{
			document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
		}
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}

/**
* Mark/unmark checklist
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');

	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}

<!-- IF ._file -->

	/**
	* Play quicktime file by determining it's width/height
	* from the displayed rectangle area
	*
	* Only defined if there is a file block present.
	*/
	function play_qt_file(obj)
	{
		var rectangle = obj.GetRectangle();

		if (rectangle)
		{
			rectangle = rectangle.split(',')
			var x1 = parseInt(rectangle[0]);
			var x2 = parseInt(rectangle[2]);
			var y1 = parseInt(rectangle[1]);
			var y2 = parseInt(rectangle[3]);

			var width = (x1 < 0) ? (x1 * -1) + x2 : x2 - x1;
			var height = (y1 < 0) ? (y1 * -1) + y2 : y2 - y1;
		}
		else
		{
			var width = 200;
			var height = 0;
		}

		obj.width = width;
		obj.height = height + 16;

		obj.SetControllerVisible(true);

		obj.Play();
	}
<!-- ENDIF -->

// ]]>
</script>
</head>
<body class="{S_CONTENT_DIRECTION}" onload="scanlinks();image_resizer();">

<a name="top"></a>

<div id="wrapheader">

	<div id="logodesc">
		<table width="100%" cellspacing="0">
		<tr>
			<td><a href="http://www.goodgamery.com">{SITE_LOGO_IMG}</a></td>
            <td width="100%" align="right">
                <a href="{U_INDEX}"><b>Forums Index</b></a>
                <br/><br/><a href="http://forums.goodgamery.com/viewtopic.php?t=898">"How do <b>Good Gamery Rewards</b> work?"</a>
                <br/><br/><a href="http://www.goodgamery.com/content-submissions/">"How do I <b>submit content</b> for the front page?"</a>
            </td>
            <td id="minipmo"><A HREF = "http://forums.goodgamery.com/viewtopic.php?t=1081&view=unread#unread"><IMG SRC = "http://www.goodgamery.com/minipmo/minipmo042.png"  title="click for context"/></A></td>
		</tr>
		</table>
	</div>

	<div id="menubar">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="genmed">
				<!-- IF not S_IS_BOT --><a href="{U_LOGIN_LOGOUT}"><img src="{T_THEME_PATH}/images/icon_mini_login.gif" width="12" height="13" alt="*" /> {L_LOGIN_LOGOUT}</a>&nbsp;<!-- ENDIF -->
				<!-- IF U_RESTORE_PERMISSIONS --> &nbsp;<a href="{U_RESTORE_PERMISSIONS}"><img src="{T_THEME_PATH}/images/icon_mini_login.gif" width="12" height="13" alt="*" /> {L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
				<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN --> &nbsp;<span style="color: red;">{L_BOARD_DISABLED}</span><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_USER_LOGGED_IN -->
						<!-- IF S_DISPLAY_PM --> &nbsp;<a href="{U_PRIVATEMSGS}"><img src="{T_THEME_PATH}/images/icon_mini_message.gif" width="12" height="13" alt="*" /> {PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a><!-- ENDIF -->
					<!-- ELSEIF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --> &nbsp;<a href="{U_REGISTER}"><img src="{T_THEME_PATH}/images/icon_mini_register.gif" width="12" height="13" alt="*" /> {L_REGISTER}</a>
					<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF MODERATORS or U_MCP or U_ACP -->
					&nbsp;&nbsp;|&nbsp;&nbsp;
				<!-- ENDIF -->

				<!-- IF MODERATORS -->
					<!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}&nbsp;&nbsp;
				<!-- ENDIF -->

				<!-- IF U_MCP -->
					[ <a href="{U_MCP}">{L_MCP}</a> ]&nbsp;&nbsp;
				<!-- ENDIF -->

				<!-- IF U_ACP -->
					[ <a href="{U_ACP}">{L_ACP}</a> ]&nbsp;&nbsp;
				<!-- ENDIF -->

			</td>
			<td class="genmed" align="{S_CONTENT_FLOW_END}">
				<a href="{U_FAQ}"><img src="{T_THEME_PATH}/images/icon_mini_faq.gif" width="12" height="13" alt="*" /> {L_FAQ}</a>
				<!-- IF S_DISPLAY_SEARCH -->&nbsp; &nbsp;<a href="{U_SEARCH}"><img src="{T_THEME_PATH}/images/icon_mini_search.gif" width="12" height="13" alt="*" /> {L_SEARCH}</a><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_DISPLAY_MEMBERLIST -->&nbsp; &nbsp;<a href="{U_MEMBERLIST}"><img src="{T_THEME_PATH}/images/icon_mini_members.gif" width="12" height="13" alt="*" /> {L_MEMBERLIST}</a><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->&nbsp; &nbsp;<a href="{U_PROFILE}"><img src="{T_THEME_PATH}/images/icon_mini_profile.gif" width="12" height="13" alt="*" /> {L_PROFILE}</a><!-- ENDIF -->
				<!-- ENDIF -->
			</td>
		</tr>
		</table>
	</div>

	<div id="datebar" style="visibility:hidden;">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="gensmall"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ENDIF --></td>
			<td class="gensmall" align="{S_CONTENT_FLOW_END}">{CURRENT_TIME}<br /></td>
		</tr>
		</table>
	</div>

    <!-- Pragmatic Link Zone Container -->
    <div id="plz_container">
        <table id="plz">
            <tr>
                <td>
                    <!-- start plz inner -->
                    <table width="100%" id="plz2">
                        <tr>
                            <!-- shirts -->
                            <td>
                                <a href = "http://www.printfection.com/goodgamery/pmoticons/_s_344077"><b>shirts</b><br>
                                <img src = "http://www.goodgamery.com/plz_shirts.jpg" border="0"></a>
                            </td>

                            <!-- amazon -->
                            <td>
                                <b>GG-Amazon</b><br>
                                <iframe src="http://rcm.amazon.com/e/cm?t=googam-20&o=1&p=20&l=qs1&f=ifr" width="120" height="54" frameborder="0" scrolling="no"></iframe>
                            </td>

                            <!-- latest posts, active topics, etc -->
							<!-- IF S_DISPLAY_SEARCH -->
                            <td class="plz_search">
								<a href="{U_SEARCH_ACTIVE_TOPICS}"><img src="http://forums.goodgamery.com/styles/gg/imageset/icon_topic_latest.gif" /></a> <a href="{U_SEARCH_ACTIVE_TOPICS}"><b>{L_SEARCH_ACTIVE_TOPICS}</b></a>
								<!-- IF S_USER_LOGGED_IN -->
									<br /><br />
									<a href="{U_SEARCH_UNREAD}"><img src="http://forums.goodgamery.com/styles/gg/imageset/icon_topic_newest.gif" /></a> <a href="{U_SEARCH_UNREAD}"><b>{L_SEARCH_UNREAD}</b></a>
								<!-- ENDIF -->
                            </td>
							<!-- ENDIF -->

                            <!-- chat links -->
                            <td>
								<!-- IF S_USER_LOGGED_IN -->
									<a href="http://wbe02.mibbit.com/?settings=ececfe11aee20d6298208a748d9a6abc&server=irc.efnet.org&channel=%23goodgamery&noServerNotices=true&noServerMotd=true&autoConnect=true&nick={S_USERNAME}" target="_blank">IRC <b>Chat</b></a>
								<!-- ELSE -->
									<a href="http://wbe02.mibbit.com/?settings=ececfe11aee20d6298208a748d9a6abc&server=irc.efnet.org&channel=%23goodgamery&noServerNotices=true&noServerMotd=true&autoConnect=true&nick=Morph22" target="_blank">IRC <b>Chat</b></a>
								<!-- ENDIF -->
                            </td>

                            <td>
								<!-- grobot -->
								<a href="http://www.moobwap.com/"><b>MTGRobot</b></a><br /><br />
								<!-- gainmes.com -->
                                <a href="http://www.gainmes.com/"><b>gainmes.com</b><br /><i>game strategy</i></a>
                            </td>
							
							<!-- Dominion -->
                            <td>
								<a href="http://dominion.isotropic.org/" target="_blank">Play <b>Dominion</b> Online</a>
								<br /><a href="http://dominion.diehrstraits.com/" target="_blank">Dominion Spoilers</a>
								<br /><a href="http://councilroom.com/" target="_blank">CouncilRoom.com</a>
							</td>


                            <!-- mtgsal spoiler -->
                            <td>
                            <a href="http://www.mtgsalvation.com/spoilers/144-khans-of-tarkir" target="_blank"><img src="http://www.goodgamery.com/plz_maro.jpg" border="0"/></a>
                            <a href="http://magic.wizards.com/en/articles/archive/ktk-cig-en" target="_blank"><img src="http://forums.goodgamery.com/images/wotclogo.png" border="0" style="margin-bottom:7px"/></a>
                            </td>

                        </tr>
                    </table>
                    <!-- end plz inner -->
                </td>
            </tr>
            <!-- Inline Decoder -->
            <tr>
                <td>
					[<a href="javascript:toggle_decoder()"><span id="decoder_nav">Show Decoder</span></a>]
                    <div id="inline_decoder">
                        <center>
                            <!-- Decoder table -->
                            <table id="decoder_table">
                                <tr>
                                    <td><a href="http://www.wizards.com/magic/Magazine/Default.aspx" target="_blank">Daily MTG</a></td>
                                    <td><a href="http://www.wizards.com/magic/Magazine/Events.aspx" target="_blank">Event Coverage</a></td>
                                    <td><a href="http://www.wizards.com/Magic/TCG/Events.aspx?x=mtgcom/protour/howtoqualify" target="_blank">PTQs</a></td>
                                    <td><a href="http://www.wizards.com/magic/tcg/article.aspx?x=mtg/tcg/events/ptqmtgo/nagoya/11" target="_blank">MODO PTQs</a></td>
                                    <td><a href="http://community.wizards.com/magiconline/blog/" target="_blank">MODO Announcements</a></td>
                                    <td><a href="http://www.wizards.com/magic/magazine/article.aspx?x=mtg/daily/other/12132010c" target="_blank">MOCS Info</a></td>
                                    <td><a href="http://www.zizibaloob.com/" target="_blank">MODO Converters</a></td>
                                    <td><a href="http://www.wizards.com/Magic/TCG/Article.aspx?x=magic/rules" target="_blank">Comp Rules</a></td>
									<td><a href="http://www.wizards.com/Magic/Digital/MagicOnline.aspx?x=mtg/digital/magiconline/whatshappening" target="_blank">MTGO Event Decklists</a></td>
                                </tr>
                            </table>
                            <!-- /Decoder table -->
                        </center>
                    </div>
                </td>
            </tr>
            <!-- /Inline decoder -->
        </table>
    </div>
    <!-- /Pragmatic Link Zone Container -->

</div>

<div id="wrapcentre">

	<!-- INCLUDE breadcrumbs.html -->

	<br />
