<div class="navbar" role="navigation">
	<div class="inner">

	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		<!-- DEFINE $MICRODATA = ' itemtype="http://schema.org/ListItem" itemprop="itemListElement" itemscope' -->
		{% set navlink_position = 1 %}
		<!-- EVENT overall_header_breadcrumbs_before -->
		<li class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- IF U_SITE_HOME -->
				<span class="crumb" {$MICRODATA}><a href="{U_SITE_HOME}" itemtype="https://schema.org/Thing" itemscope itemprop="item" data-navbar-reference="home"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span itemprop="name">{L_SITE_HOME}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
			<!-- ENDIF -->
			<!-- EVENT overall_header_breadcrumb_prepend -->
				<span class="crumb" {$MICRODATA}><a href="{U_INDEX}" itemtype="https://schema.org/Thing" itemscope itemprop="item" accesskey="h" data-navbar-reference="index"><!-- IF not U_SITE_HOME --><i class="icon fa-home fa-fw"></i><!-- ENDIF --><span itemprop="name">{L_INDEX}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>

			<!-- BEGIN navlinks -->
				{% set NAVLINK_NAME = navlinks.BREADCRUMB_NAME | default(navlinks.FORUM_NAME) %}
				{% set NAVLINK_LINK = navlinks.U_BREADCRUMB | default(navlinks.U_VIEW_FORUM) %}
				<!-- EVENT overall_header_navlink_prepend -->
				<span class="crumb" {$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><a href="{{ NAVLINK_LINK }}" itemtype="https://schema.org/Thing" itemscope itemprop="item"><span itemprop="name">{{ NAVLINK_NAME }}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
				<!-- EVENT overall_header_navlink_append -->
			<!-- END navlinks -->
			<!-- EVENT overall_header_breadcrumb_append -->
		</li>
		<!-- EVENT overall_header_breadcrumbs_after -->

		<!-- Active topics -->
		<li class="rightside">
			<a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">
				<i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TOPICS}</span>
			</a>
		</li>
		<!-- IF S_LOAD_UNREADS -->
			<!-- Unread topics -->
			<li class="rightside">
				<a href="{U_SEARCH_UNREAD}" role="menuitem">
					<i class="icon fa-file-o fa-fw icon-red" aria-hidden="true"></i><span>{L_SEARCH_UNREAD}</span>
				</a>
			</li>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<!-- Search bar -->
			<li class="rightside responsive-search">
				<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
				</a>
			</li>
		<!-- ENDIF -->

		<!-- IF S_INDEX -->
			<!-- IF U_MARK_FORUMS -->
<!-- 				<li class="rightside mark-read">
					<a href="{U_MARK_FORUMS}"  accesskey="m" title="{L_MARK_FORUMS_READ}" data-ajax="mark_forums_read">
						<i class="icon fp-forum-read fa-fw"></i><span>{L_MARK_FORUMS_READ}</span>
					</a>
				</li> -->
			<!-- ENDIF -->
		<!-- ELSEIF S_HAS_SUBFORUM -->
			<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
<!-- 				<li class="rightside mark-read">
					<a href="{U_MARK_FORUMS}" title="{L_MARK_SUBFORUMS_READ}" data-ajax="mark_forums_read">
						<i class="icon fp-forum-read fa-fw"></i><span>{L_MARK_SUBFORUMS_READ}</span>
					</a>
				</li> -->
			<!-- ENDIF -->
		<!-- ENDIF -->
	</ul>

	</div>
</div>
