	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p class="breadcrumbs">
				<a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks -->
				<br/>
				<!-- IF TOPIC_TITLE --><span class="bpm_topictitle">{TOPIC_TITLE}</span><!-- ENDIF -->
				<!-- IF TOPIC_DESC --><span class="bpm_topicdesc">, {TOPIC_DESC}</span><!-- ENDIF -->
			</p>
		</td>
	</tr>
	</table>
